---
- name: Install Packages | apt
  apt:
    state: latest
    pkg: "{{ item }}"
  with_items:
    - elasticsearch
  tags:
    - software-installation
    - using-apt
    - elasticsearch

- name: Remove plugins
  command: /usr/share/elasticsearch/bin/plugin -r cloud-aws
  command: /usr/share/elasticsearch/bin/plugin -r lmenezes/elasticsearch-kopf


- name: Install elasticsearch-cloud-aws 2.7.1 plugin
  command: /usr/share/elasticsearch/bin/plugin --install elasticsearch/elasticsearch-cloud-aws/2.7.1 creates=/usr/share/elasticsearch/plugins/cloud-aws
  tags:
    - elasticsearch

- name: Install elasticsearch-http-basic 1.5.0 plugin
  command: wget -P /usr/share/elasticsearch/plugins/http-basic https://github.com/Asquera/elasticsearch-http-basic/releases/download/v1.5.0/elasticsearch-http-basic-1.5.0.jar --no-clobber
  tags:
    - elasticsearch
  when: elasticsearch_http_basic_enabled

- name: Install lmenezes/elasticsearch-kopf
  command: /usr/share/elasticsearch/bin/plugin --install lmenezes/elasticsearch-kopf
  tags:
    - elasticsearch
