---
- name: Install Public Signing Key
  get_url:
    url: https://packages.elastic.co/GPG-KEY-elasticsearch
    dest: /tmp/elasticsearch.skey

- name: Add Public Signing Key to apt-key
  command: apt-key add /tmp/elasticsearch.skey

- name: Save Repository definition
  lineinfile:
    state: present
    line: deb http://packages.elastic.co/elasticsearch/2.x/debian stable main
    dest: /etc/apt/sources.list.d/elasticsearch-2.x.list

- name: Install Packages | apt
  apt:
    state: latest
    pkg: "{{ item }}"
    update_cache: yes
  with_items:
    - elasticsearch
  tags:
    - software-installation
    - using-apt
    - elasticsearch
